@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap&subset=cyrillic-ext);

@charset "UTF-8";

@font-face {
  font-family: BravoRG;
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff2") format("woff2"), url("../fonts/BravoRGRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cerem;
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff2") format("woff2"), url("../fonts/ceremonious_one.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Pfdin;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff2") format("woff2"), url("../fonts/pfdintextcondpro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Pfdin;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff2") format("woff2"), url("../fonts/pfdintextcondpro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "PT Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.page {
  padding: 75px 0 0 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 61.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  padding: 0px 0px;
  margin: 55px 0 0 0;
  position: relative;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
}

.button::before {
  content: "";
  top: 0;
  background-color: #c3a774;
}

.button::after {
  content: "";
  bottom: 0;
  background-color: #c48431;
}

.button._fw {
  width: 100%;
}

.button__body span {
  display: block;
  padding: 0 50px;
  color: white;
  text-transform: uppercase;
  font-family: PFdin;
  letter-spacing: 1.5px;
}

.button__body::before,
.button__body::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
}

.button__body::before {
  content: "";
  right: 0;
  top: 0;
  background-color: #c3a774;
}

.button__body::after {
  content: "";
  left: 100%;
  top: 0;
  background-color: #c48431;
}

.button_big .button__body span {
  color: black;
  font-size: 21px;
  font-weight: 500;
  font-family: Pfdin;
  letter-spacing: 0;
  text-align: center;
  padding: 0 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
}

.title__item {
  font-family: Cerem;
  font-size: 40px;
  color: #bb9c66;
  margin: 0 0 20px 0;
}

.title__main {
  font-family: Pfdin;
  font-size: 35px;
  line-height: 35px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title__main_b {
  color: black;
}

.title__main_medium {
  font-weight: 500;
}

.block-header__title {
  margin: 0 0 20px 0;
}

.block-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-decor__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-decor__items::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #bb9c66;
}

.block-decor__items::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0 10px;
}

.block-decor__items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-decor__items span::before {
  content: "";
  width: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  margin: 0 5px 0 7px;
}

.block-decor__items span::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.8px;
          flex: 0 0 10.8px;
  width: 10.8px;
  height: 10.8px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.block-decor__items:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block-decor__items:last-child span {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block-decor__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  text-align: center;
}

.block-decor__icon img {
  max-width: 100%;
}

.lot {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.lot__header {
  text-align: center;
  margin: 0 0 30px 0;
  position: relative;
}

.lot__image {
  display: block;
  padding: 0 0 100% 0;
  border: 3px solid #ccb385;
}

.lot__title {
  text-align: center;
  font-family: "Pfdin";
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 13;
  margin-bottom: 1.25rem;
}

.lot__title:hover {
  text-decoration: underline;
}

.lot__button {
  margin: 0 25px;
}

.timer-lot {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
}

.timer-lot div {
  position: relative;
  z-index: 2;
}

.timer-lot::before {
  content: "";
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.timer-lot__icon {
  font-size: 18px;
  margin: 0 0 5px 0;
}

.info-lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
}

.info-lot__stat {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-lot__stat:first-child img {
  position: relative;
  z-index: 3;
  top: 3px;
}

.info-lot__icon {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
}

.info-lot__icon img {
  position: relative;
  z-index: 3;
}

.info-lot__icon::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: #000000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info-lot__text {
  font-size: 14px;
  line-height: 25px;
  position: relative;
  border-bottom: 1px solid #bb9c66;
}

.info-lot__price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.price-info-lot {
  position: relative;
  padding: 0 5px;
}

.price-info-lot div {
  position: relative;
  z-index: 5;
}

.price-info-lot::after {
  content: "";
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  border: 1px solid #bb9c66;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.price-info-lot__label {
  font-size: 14px;
  line-height: 25px;
  margin: 0 0 5px 0;
  white-space: nowrap;
}

.price-info-lot__value {
  font-family: "BravoRG";
  font-size: 50px;
  color: #1c242a;
  -webkit-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
  white-space: nowrap;
}

.price-info-lot__currency {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 40px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.item__icon {
  position: relative;
  z-index: 2;
}

.item__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: 50%;
}

.item__title {
  margin: 25px 0 45px 0;
  text-align: center;
  position: relative;
  z-index: 2;
  font-family: "Pfdin";
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__deco {
  position: relative;
  z-index: 2;
  text-align: center;
}

.item__bg-ibg {
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item__bg-ibg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.header {
  background-color: #1c242a;
  position: fixed;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 144px;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  padding: 0 0 0 0.0315789474;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list li {
  margin: 0 15px;
}

.menu__link,
.actions-header__region {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-family: "Pfdin";
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.menu__link._navigator-active,
._navigator-active.actions-header__region {
  color: #bb9c66;
}

.icon-menu {
  display: none;
}

.no-webp .actions-header__region{
  background: url("../img/icons/earth.png") left no-repeat; }

.actions-header__region {
  position: relative;
  z-index: 5;
  margin: 0 30px 0 0;
  padding-left: 20px;
}

.actions-header__text {
  padding: 0 0 0 10px;
}

.profile-header {
  z-index: 5;
}

.profile-header__icon {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.profile-header__menu {
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0px 5px 15px 7px black;
          box-shadow: 0px 5px 15px 7px black;
  background-color: #1c242a;
  border-radius: 5px;
  top: 88px;
  right: 0;
  min-width: 175px;
  position: absolute;
  padding: 20px 20px 30px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.profile-header__menu li {
  padding: 0 0 10px 0;
}

.profile-header__menu li:last-child {
  padding: 0;
}

.profile-header__menu._active {
  top: 78px;
  opacity: 1;
  visibility: visible;
}

.profile-header__link {
  color: #fff;
  padding: 0 0 0 30px;
  display: inline-block;
  line-height: 20px;
}

.no-webp .profile-header__link_1{
  background: url("../img/icons/mini-earth.png") 3px center no-repeat; }

.no-webp .profile-header__link_2{
  background: url("../img/icons/key.png") left no-repeat; }

.no-webp .profile-header__link_3{
  background: url("../img/icons/arm.png") 4px center no-repeat; }

.no-webp .profile-header__link_4{
  background: url("../img/icons/hammer.png") left no-repeat; }

.footer {
  padding: 45px 0;
  background-color: #1c242a;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}

.footer__column_full {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__image {
  display: inline-block;
  margin: 0 0 25px 0;
}

.footer__copyright {
  color: #bb9c66;
  white-space: nowrap;
}

.footer__menu {
  padding: 0 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list li {
  margin: 15px 15px 0 0;
}

.footer__link {
  font-family: "Pfdin";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.footer__contacts {
  padding: 12px 0 0 0;
  text-align: right;
}

.footer__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "BravoRG";
  text-transform: uppercase;
  color: #bb9c66;
  font-size: 50px;
}

.footer__number small {
  font-size: 25px;
  margin: 2px 5px 0 0;
}

.footer__callback {
  padding: 0 0 0 12px;
  color: #bb9c66;
  background: url("../img/icons/callback.svg") left no-repeat;
}

.footer__callback span {
  border-bottom: 1px dashed #bb9c66;
}

.main-slider {
  position: relative;
}

.main-slider .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-slider__control {
  position: absolute;
  left: 50%;
  bottom: 0%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider__control::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.item-main-slider {
  text-align: center;
  padding: 30px 0 100px 0;
  position: relative;
}

.item-main-slider__content {
  position: relative;
  z-index: 2;
  height: 100%;
}

.item-main-slider__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-main-slider__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-main-slider__text {
  color: white;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.6666666667;
  max-width: 700px;
  margin: 25px auto 0 auto;
}

.no-webp .control-main-slider__arrow{
  background: url("../img/icons/sl-arrow.png") 0 0 no-repeat; }

.control-main-slider__arrow {
  cursor: pointer;
  width: 14px;
  height: 24px;
  position: relative;
  z-index: 4;
}

.control-main-slider__arrow_next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.control-main-slider__decor {
  margin: 0px 12px;
  position: relative;
  z-index: 4;
}

.control-main-slider__decor img {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lots {
  margin: 85px 0 63px 0;
}

.lots__header {
  margin: 0 0 40px 0;
}

.slider-lots {
  margin: 0 -50px;
}

.slider-lots__body {
  margin: 0 0px 50px;
}

.slider-lots__slide {
  padding: 0 50px;
}

.control-slider-lots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-slider-lots__arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 108px;
          flex: 0 0 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.control-slider-lots__arrow::after {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #bb9c66;
  border-radius: 50%;
  margin: 0px 5px;
}

.control-slider-lots__arrow:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.control-slider-lots__arrow:last-child svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.no-webp .control-slider-lots__link{
  background: url("../img/icons/circle.png") center no-repeat; }

.control-slider-lots__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pfdin";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px 20px;
}

.categories__items {
  margin: 0 0 85px 0;
}

.categories__container {
  overflow: hidden;
  padding: 5px 0 0 0;
  position: relative;
}

.categories__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 45px;
  background-color: white;
  bottom: 0;
  z-index: 2;
}

.categories__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -50px 0 -50px;
  position: relative;
  padding: 37px 0 0 0;
}

.categories__row::before,
.categories__row::after {
  content: "";
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  top: 0;
  left: 50%;
  border: 1px solid #bb9c66;
  margin: 0 0 0 0.5px;
  -webkit-transform: translate(-50%, 0px) rotate(-45deg);
      -ms-transform: translate(-50%, 0px) rotate(-45deg);
          transform: translate(-50%, 0px) rotate(-45deg);
  position: absolute;
}

.categories__row::before {
  content: "";
  left: 33.333%;
}

.categories__row::after {
  content: "";
  left: 66.667%;
}

.categories__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 50px 25px;
  margin: 0 0 25px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__column::before {
  content: "";
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: 50%;
  background-color: #bb9c66;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.categories__decor {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: calc(100% + 9px);
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.categories__decor::before {
  content: "";
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #bb9c66;
}

.categories__decor::after {
  content: "";
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 15px 0 0 0.5px;
  position: relative;
}

.categories__decor span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__decor span::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #bb9c66;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  border-radius: 50%;
  margin: 20px 0;
}

.categories__decor span::after {
  content: "";
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #bb9c66;
}

.text-categories {
  font-size: 15px;
  line-height: 25px;
  color: #333333;
}

.text-categories p {
  margin: 0 0 40px 0px;
}

.text-categories p:last-child {
  margin: 0px;
}

.no-webp .text-categories__body{
  background: url("../img/categories/decor.png") left top repeat-y; }

.text-categories__body {
  padding: 10px 0px 25px 150px;
  position: relative;
}

.no-webp .text-categories__body::before{
  background: url("../img/categories/decor_header.png") 0 0 no-repeat; }

.text-categories__body::before {
  content: "";
  position: absolute;
  width: 85px;
  height: 12px;
  top: -6px;
  left: 0;
}

.services {
  margin: 80px 0 0 0;
  background-color: #1c242a;
  padding: 60px 0 100px 0;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -40px;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 40px;
}

.column-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 45px 0 0 0;
}

.column-services__image {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-services__body {
  text-align: center;
}

.column-services__title {
  font-family: "Pfdin";
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.column-services__text {
  font-size: 15px;
  line-height: 25px;
  color: #bb9c66;
  padding: 35px 0;
}

.column-services__button {
  font-family: "Pfdin";
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: relative;
}

.column-services__button::before {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  left: -50%;
  top: 50%;
  background-color: #bb9c66;
  -webkit-transform: translate(-20%, 0px);
      -ms-transform: translate(-20%, 0px);
          transform: translate(-20%, 0px);
  cursor: default;
}

.column-services__button::after {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  cursor: default;
  right: -50%;
  top: 50%;
  background-color: #bb9c66;
  -webkit-transform: translate(20%, 0px);
      -ms-transform: translate(20%, 0px);
          transform: translate(20%, 0px);
}

.quotes {
  padding: 65px 0 70px 0;
}

.quotes__slider.swiper {
  overflow: hidden;
  padding: 0 0 15px 0;
}

.slider-quotes__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-quotes__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.3368421053;
          flex: 0 0 0.3368421053;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-quotes__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 515px;
          flex: 0 1 515px;
  margin: 0 0 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-quotes__title {
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  max-width: 520px;
}

.slider-quotes__text {
  margin: 40px 0 0 0;
  font-size: 15px;
  line-height: 25px;
  color: #1c242a;
}

.slider-quotes-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-quotes-control__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-quotes-control__decor::before {
  content: "";
  width: 107px;
  height: 1px;
  border: 1px solid #bb9c66;
}

.slider-quotes-control__decor::after {
  content: "";
  width: 11px;
  height: 11px;
  border: 1px solid #bb9c66;
  border-radius: 50%;
  margin: 0 5px;
}

.slider-quotes-control__decor:last-child {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.slider-quotes-control__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 40px;
}

.slider-quotes-control__circle::before {
  content: "";
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #bb9c66;
  border-radius: 50%;
}

.info {
  margin: 0 0 75px 0;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 35px 30px 0 30px;
}

.info__column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.info__title {
  font-family: "Pfdin";
  font-size: 35px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.info__item {
  margin: 35px 0 0 0;
}

.info__date {
  font-size: 12px;
  line-height: 25px;
  color: #bb9c66;
}

.info__lable {
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  color: #333333;
}

.info__text {
  font-size: 15px;
  color: #333333;
  padding: 5px 0 0 0;
}

.subscribe__title {
  font-family: "Pfdin";
  font-size: 35px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
}

.subscribe__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 30px;
  margin: 25px 0 0 0;
}

.subscribe__text {
  font-size: 15px;
  line-height: 25px;
  color: #333333;
}

.subscribe__form {
  max-width: 100%;
  height: 50px;
  border: 3px solid #bb9c66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.form-subscribe ::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.form-subscribe ::-moz-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.form-subscribe :-ms-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.form-subscribe ::-ms-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.form-subscribe ::placeholder {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #4f4f4f;
}

.form-subscribe__button {
  position: relative;
}

.no-webp .form-subscribe__button span{
  background: url("../img/icons/ok-btn.png") right no-repeat; }

.form-subscribe__button span {
  padding: 0 30px 0 20px;
  font-family: "Pfdin";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1c242a;
}

.form-subscribe__button::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 32px;
  background-color: #bb9c66;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.slider-lots {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 995px) {
  .categories__row::before {
    left: 50%;
  }

  .categories__row::after {
    display: none;
  }

  .categories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 975px) {
  .slider-lots {
    margin: 0 -20px;
  }

  .slider-lots__slide {
    padding: 0 20px;
  }
}

@media (max-width: 970px) {
  .subscribe__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 950px) {
  .services__row {
    margin: 0 -20px;
  }

  .services__column {
    padding: 0 20px;
  }
}

@media (max-width: 930px) {
  .footer__number {
    font-size: 40px;
  }

  .footer__number small {
    font-size: 20px;
  }
}

@media (max-width: 890px) {
  .actions-header__region {
    margin: 0 15px 0 0;
  }

  .actions-header__region span {
    display: none;
  }
}

@media (max-width: 870px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 860px) {
  .lot__title {
    font-size: 18px;
    line-height: 20px;
  }

  .price-info-lot__value {
    font-size: 30px;
  }
}

@media (max-width: 850px) {
  .info__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .info__title {
    text-align: center;
  }

  .subscribe__title {
    text-align: center;
  }

  .subscribe__content {
    display: block;
  }
}

@media (max-width: 650px) {
  .categories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 600px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 47.99875em) {
  .block-decor__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .menu__body {
    background-color: rgba(28, 36, 42, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 100px 0 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    z-index: 3;
  }

  .menu__body::after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0 0 30px 0;
  }

  .menu__link,
  .actions-header__region {
    font-size: 20px;
    padding: 10px 0 0 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #bb9c66;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .actions-header__region {
    display: inline-block;
    padding: 0 0 0 20px;
  }

  .actions-header__region span {
    display: inline-block;
  }

  .profile-header__menu {
    width: 100%;
  }

  .footer__row {
    display: block;
    text-align: center;
  }

  .footer__image {
    margin: 0 0 5px 0;
  }

  .footer__copyright {
    margin: 10px 0 0 0;
  }

  .footer__menu {
    padding: 0;
  }

  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__callback {
    margin: 10px 0 0 0;
  }

  .main-slider .swiper-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .lots {
    margin: 50px 0 40px 0;
  }

  .categories__items {
    margin: 0 0 45px 0;
  }

  .quotes {
    padding: 65px 0 30px 0;
  }

  .slider-quotes__slide {
    display: block;
  }

  .slider-quotes__image {
    margin: 15px 0;
  }

  .slider-quotes__content {
    margin: 0;
  }

  .info {
    margin: 0 0 35px 0;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .control-slider-lots__arrow svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .text-categories__body::before {
    background: none !important;
  }

  .text-categories__body {
    background: none !important;
    padding: 10px 0px 25px 0px;
  }

  .services {
    margin: 40px 0 0 0;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(195, 167, 116, 0.2117647059);
  }

  .item:hover .item__bg-ibg {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .menu__link:hover,
  .actions-header__region:hover {
    text-decoration: underline;
  }

  .profile-header__link:hover {
    text-decoration: underline;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .footer__callback span:hover {
    border-bottom: none;
  }

  .info__lable:hover {
    text-decoration: none;
  }
}

.webp .actions-header__region{ background: url(../img/icons/earth.webp) left no-repeat; }

.webp .profile-header__link_1{ background: url(../img/icons/mini-earth.webp) 3px center no-repeat; }

.webp .profile-header__link_2{ background: url(../img/icons/key.webp) left no-repeat; }

.webp .profile-header__link_3{ background: url(../img/icons/arm.webp) 4px center no-repeat; }

.webp .profile-header__link_4{ background: url(../img/icons/hammer.webp) left no-repeat; }

.webp .control-main-slider__arrow{ background: url(../img/icons/sl-arrow.webp) 0 0 no-repeat; }

.webp .control-slider-lots__link{ background: url(../img/icons/circle.webp) center no-repeat; }

.webp .text-categories__body{ background: url(../img/categories/decor.webp) left top repeat-y; }

.webp .text-categories__body::before{ background: url(../img/categories/decor_header.webp) 0 0 no-repeat; }

.webp .form-subscribe__button span{ background: url(../img/icons/ok-btn.webp) right no-repeat; }